argon2-cffi
async-generator==1.10
attrs
backcall==0.2.0
bleach
brotlipy==0.7.0
certifi==2020.6.20
cffi
chardet==3.0.4
cryptography
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
idna
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
jedi
Jinja2==2.11.2
joblib
json5==0.9.5
jsonschema
jupyter-client
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments
jupyterlab-server
kiwisolver==1.2.0
kmodes==0.10.2
MarkupSafe
matplotlib
mistune
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
nbclient
nbconvert
nbformat==5.0.7
nest-asyncio
notebook
numpy
olefile==0.46
packaging==20.4
pandas
pandocfilters==1.4.2
parso==0.7.0
pexpect
pickleshare
Pillow
prometheus-client==0.8.0
prompt-toolkit
ptyprocess==0.6.0
pycparser
Pygments
pyOpenSSL
pyparsing==2.4.7
pyrsistent
PySocks
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
requests
scikit-learn
scipy
seaborn
Send2Trash==1.5.0
six==1.15.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl
torch==1.0.0
torchvision==0.2.2
tornado==6.0.4
tqdm
traitlets
urllib3
wcwidth
webencodings==0.5.1
zipp
